/*CSS reset*/
/*Pseudo classi*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 26px;
    font-weight: normal;

}
h2{
    font-weight: normal;
    font-size: 18px;
}
/*Generics*/
main{
    height: calc(100vh - 74px);
    overflow: auto;
    background-color: bisque;
}
input{
   width: 320px;
    height: 40px;
}

/*Utilties*/
.container{
    border: solid red 1px;
}
.row{
    border: solid black 1px;
}
.col{
    border: dashed rgb(208, 208, 208) 1px;
}
.btn{
    padding: 2px 4px;
}
.bg_button{
    background-color: rgba(0, 0, 0, 0.378);
}
.form-control{
    padding: 0;
}
/*header*/
.logomobile{
    width: 60px;
}

/*Left nav*/
#left_nav{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}




