/*CSS reset*/
/*Pseudo classi*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 26px;
    font-weight: normal;
    
}
h2{
    font-weight: normal;
    font-size: 18px;
}
/*Generics*/
header{
    margin: 0;
    padding: 0;
    height: 65px;
}
input{
    width: 100%;
    height: 40px;
}
main{
    flex: 1 1 auto;
    background-color: azure;
    overflow-y: auto;
    margin-left: 58px;
}
@media screen and (min-width: 992px) {
    main{margin-left: 108px;}
}

/*Utilties*/
.container{
    border: solid red 1px;
}
.row{
    border: solid black 1px;
}
.col{
    border: dashed rgb(208, 208, 208) 1px;
}
.btn{
    padding: 2px 4px;
}
.bg_button{
    background-color: rgba(0, 0, 0, 0.378);
}
.form-control{
    padding: 0;
}
/*header*/
.logomobile{
    width: 60px;
}
/*Layout under-content*/
.sidebar{
    flex: 0 0 70px;
}
@media screen and (min-width: 992px) {
    .sidebar{flex-basis: 150px;}
}
.wrapper{
    height: calc(100vh - 65px);
    background-color: aliceblue;
}
/*Left nav*/
.left_nav{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}




