/*CSS reset*/
/*Pseudo classi*/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*Generics*/
main{
    height: calc(100vh - 74px);
    overflow: auto;
    background-color: bisque;
}
/*Utilties*/
.container{
    border: solid red 1px;
}
.row{
    border: solid rgb(0, 255, 8) 1px;
}
.col{
    border: solid rgb(0, 13, 255) 1px;
}
/*Left nav*/
#left_nav{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

